@media screen and (max-width: 1600px) {
    body {
        main {
            section {
                div.images {
                    padding-right: 0;
                    div.img {
                        width: 250px;
                        height: 167px;
                    }
                }
            }
            div {
                div.images {
                    img {
                        width: 250px;
                        height: 167px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1300px) {
    body {
        main {
            section.product {
                flex-direction: column;
                div {
                    width: 100%;
                }
                iframe {
                    display: inline-block;
                    width: 730px; height: 410px;
                }
            }
            div.about {
                padding-bottom: 100px;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    body {
        main {
            section {
                padding: 0;
            }
            section.products {
                h2, div.images {
                    width: 100%;
                }
            }
            section.product {
                align-items: center;
                iframe {
                    width: 500px;
                    height: 300px;
                }
            }
            div.contact {
                flex-direction: column;
                section {
                    width: 100%;
                }
                div.images {
                    width: 100%;
                    padding-bottom: 100px;
                }
            }
        }
    }
}
@media screen and (max-width: 980px) {
    body {
        main {
            div.about {
                table tr {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    body main {
        div.images {
            width: 100%;
        }
        div.about {
            flex-direction: column-reverse;
            table {
                width: 100%;
                margin-right: 0;
            }
            div.images {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:700px) {
    body {
        header {
            flex-direction: column;
            height: 8em;
            h2, nav {
                height: 50%;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:500px){
    body {
        main {
            div.contact {
                flex-direction: column-reverse;
                div.images {
                    padding-bottom: 0;
                }
                section {
                    form {
                        input[name=name], input[name=mail],input[name=comment] {
                            width: 100%;
                        }
                        div {
                            width: 100%;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            input {
                                width: 100px;
                            }
                        }
                    }
                }
            }
            section.product {
                iframe {
                    width: 100%;
                    height: 250px;
                }
            }
        }
    }
}
@media screen and (max-width:339px) {
    body {
        background-position: right;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::after {
            content: 'Device not supported';
            display: inline-block;
            width: 100%;
            font-family: 'Bebas Neue';
            font-weight: bold;
            text-align: center;
            font-size: 4em;
            height: 20%;
color: #fff;
        }
        header, main {
            display: none;
        }
    }
}