* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
.red {
    color: red;
}
header {
    background: #fff;
    height: 300px;
    width: 98%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header::before, header::after {
    content: '';
    display: inline-block;
    background: red;
    width: 2%;
    height: 100%;
}

header h2 {
    display: inline-block;
    width: 600px;
    text-align: center;
    font-size: 70px;
    line-height: 125px;
}
main {
    background: #Fff;
    width: 98%;
    margin: auto;
    height: 860px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main .block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background: #000;
    margin-bottom: 10px;
}
main .block h2 {
    color: #fff;
    font-size: 35px;
}
main .line {
    height: 720px;
    width: 12px;
    background: #000;
}
article {
    width: 30%;
    height: 750px;
}
article .title {
    font-size: 30px;
    margin-bottom: 20px;
}
article p {
    font-size: 18px;
    margin-bottom: 20px;
}
article h4 {
    font-weight: normal;
    font-size: 25px;
    border-bottom: red 2.5px dotted;
    padding-bottom: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
article .img-1 {
    vertical-align: top;
    width: 30%;
    margin-right: 20px;
}
article .text-1 {
    width: 60%;
    display: inline-block;
}
article .text-2 {
    width: 58%;
    display: inline-block;
}
article .img-2 {
    width: 40%;
    vertical-align: top;
}
article .img-3 {
    width: 90%;
    margin: auto;
    vertical-align: top;
}
article ul {
    list-style: url('/img/triangle.png');
}
article ul li {
    margin-left: 50px;
    line-height: 0px;
}
article .img-4 {
    width: 40%;
    vertical-align: top;
    margin-bottom: 20px;
}
article .text-3 {
    width: 50%;
    display: inline-block;
}
article .text-4 {
    width: 56%;
    display: inline-block;
    margin-top: 10px;
}
article .img-5 {
    width: 40%;
    margin-left: 2%;
    vertical-align: top;
}
